/* MAIN PAGE */

[data-testid="stAppViewContainer"] {
    background: #F5F7FA;
}

/* SIDEBAR */

[data-testid="stSidebar"] {
    background: white;
    border-right: 1px solid #E5E7EB;
}

/* SIDEBAR TEXT */

[data-testid="stSidebar"] * {
    color: #111827;
}

/* HERO CARD */

.hero-card {
    background: white;
    padding: 40px;
    border-radius: 25px;
    margin-bottom: 20px;

    box-shadow:
        0px 8px 20px rgba(0, 0, 0, .08);
}

.hero-card h1 {
    color: #111827;
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-card h3 {
    color: #F97316;
}

.hero-card p {
    color: #6B7280;
    font-size: 18px;
}

/* KPI CARDS */

div[data-testid="metric-container"] {
    background: white;

    border-radius: 20px;

    border: 1px solid #E5E7EB;

    padding: 15px;

    box-shadow:
        0px 4px 15px rgba(0, 0, 0, .05);
}

/* BUTTONS */

.stButton button {

    background: #F97316;

    color: white;

    border-radius: 12px;

    border: none;
}

.stButton button:hover {

    background: #EA580C;
}

/* DOWNLOAD BUTTON */

.stDownloadButton button {

    background: #3B82F6;

    color: white;
}

/* TABLES */

[data-testid="stDataFrame"] {

    background: white;

    border-radius: 20px;
}